<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
    />
    <style>
      body {
        margin: 0;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div
      style="
        width: 100%;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px 0px 46px;
        box-sizing: border-box;
        gap: 55px 0px;
        letter-spacing: normal;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0px 48px;
        "
      >
        <img
          style="height: 50px; width: 180px; position: relative"
          loading="lazy"
          alt=""
          src="https:/api.usemelon.co/public/logo.svg"
        />
      </div>
      <section
        style="
          align-self: stretch;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px 0px;
          max-width: 100%;
          text-align: left;
          font-size: 16px;
          color: #384860;
          font-family: Outfit;
        "
      >
        <div
          style="
            width: 584px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0px 20px;
            box-sizing: border-box;
            gap: 24px 0px;
            max-width: 100%;
          "
        >
          <div
            style="
              align-self: stretch;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 24px 0px;
            "
          >
            <h3
              style="
                margin: 0;
                align-self: stretch;
                position: relative;
                font-size: 24px;
                line-height: 120%;
                font-weight: 600;
                font-family: inherit;
                color: #121A26;
              "
            >
              Confirm Verification Code
            </h3>
            <div
              style="align-self: stretch; position: relative; line-height: 120%"
            >
              <p style="margin: 0">Hi, {{name}}</p>
              <p style="margin: 0">&nbsp;</p>
              <p style="margin: 0">This is your verification code:</p>
            </div>
            <div
              style="
                width: 235px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: center;
                font-size: 40px;
                color: #000;
              "
            >
              <div
                style="
                  flex: 1;
                  border-radius: 58px;
                  background-color: #F8FAFC;
                  border: 1px solid #2FF0B5;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  padding: 8px 19px;
                "
              >
                <b style="position: relative; line-height: 120%">{{code}}</b>
              </div>
            </div>
            <div
              style="align-self: stretch; position: relative; line-height: 120%"
            >
              <p style="margin: 0">
                If you did not initiate an action requiring an authorization code, you do not need to do anything
              </p>
              <p style="margin: 0">&nbsp;</p>
              <p style="margin: 0">
                This code will only be valid for the next 5 minutes.
              </p>
            </div>
          </div>
          <div
            style="align-self: stretch; position: relative; line-height: 120%"
          >
            <p style="margin: 0">Thanks,</p>
            <p style="margin: 0">Melon Team</p>
          </div>
        </div>
        <div
          style="
            width: 584px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0px 20px;
            box-sizing: border-box;
            max-width: 100%;
          "
        >
          <div
            style="align-self: stretch; position: relative; line-height: 120%"
          >
            <p style="margin: 0">Thanks,</p>
            <p style="margin: 0">Melon Team</p>
          </div>
        </div>
        <div
          style="
            align-self: stretch;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 24px 48px;
            box-sizing: border-box;
            max-width: 100%;
            font-size: 18px;
            color: #202B3C;
          "
        >
          <div
            style="
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 24px 0px;
              max-width: 100%;
            "
          >
            <div
              style="
                align-self: stretch;
                position: relative;
                line-height: 120%;
                font-weight: 600;
              "
            >
              <p style="margin: 0">Melon at the touch of a button!</p>
              <p style="margin: 0">Download our app for Android & IOS.</p>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0px 10px;
                max-width: 100%;
              "
            >
              <img
                style="
                  align-self: stretch;
                  width: 147px;
                  position: relative;
                  max-height: 100%;
                  object-fit: cover;
                  min-height: 44px;
                "
                loading="lazy"
                alt=""
                src="https:/api.usemelon.co/public/logogoogleplaybadge@2x.png"
              />
              <img
                style="
                  align-self: stretch;
                  width: 172px;
                  position: relative;
                  max-height: 100%;
                  object-fit: cover;
                  min-height: 44px;
                "
                loading="lazy"
                alt=""
                src="https:/api.usemelon.co/public/logoappstore@2x.png"
              />
            </div>
            <div
              style="
                align-self: stretch;
                position: relative;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 150%;
              "
            >
              <p style="margin: 0">
                <span>Questions or faq? Contact us at </span>
                <span style="text-decoration: underline; color: #FF3947"
                  >faq@usemelon.co</span
                >
              </p>
              <p style="margin: 0">&nbsp;</p>
              <p style="margin: 0">100 Smith Street, Melbourne VIC 3000</p>
              <p style="margin: 0">© 2024 Mel-fi technologies ltd</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>